{
    "singleQuote": true,
    "semi": false,
    "printWidth": 120,
    "trailingComma": "all",
    "tabWidth": 2,
    "bracketSpacing": true,
    "bracketSameLine": false,
    "arrowParens": "avoid",
    "overrides": [
        {
            "files": "*.ts",
            "options": {
                "singleQuote": true,
                "semi": false,
                "printWidth": 120,
                "trailingComma": "all",
                "tabWidth": 2,
                "bracketSpacing": true,
                "bracketSameLine": false,
                "arrowParens": "avoid"
            }
        }
    ],
    "plugins": [
        "prettier-plugin-organize-imports"
    ]
}